<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/auth/register" method="post">
        <p><input type="text" name="username" placeholder="이름" id=""></p>
        <p><input type="password" name="password" placeholder="password"></p>
        <p><input type="text" name="displayName" placeholder="displayName"></p>
        <p><input type="submit">signup</p>

    </form>
    
</body>
</html>